/*style.css by Zefanya*/
* {
    font-family: 'Poppins', sans-serif;
}

.indexbody {
    min-height: 100vh;
    background: linear-gradient(90deg, #a1d5ff, #449ffa);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.latihanbody {
    min-height: 100vh;
    background: linear-gradient(90deg, #a1d5ff, #449ffa);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.riwayatbody {
    min-height: 100vh;
    background: linear-gradient(90deg, #a1d5ff, #449ffa);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    gap: 40px;
}

.box {
    background-color: #f8f8f8;
    width: 350px;
    margin: 20px auto;
    display: flex;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    flex-direction: column;
}

.box p {
    margin: 5px 0;
    padding: 0;
}

.info-box{
    border-radius: 20px;
    width: 390px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.info-flex {
    display: flex;
    align-items: center;   
    justify-content: center; 
    gap: 20px;              
}


.pokemon-image {
    width: 150px; 
    height: 150px;
    object-fit: contain; 
    margin-bottom: 15px; 
    border-radius: 10%;
    border: 2px solid #c1c1c1; 
}

.train-box{
    width: 600px;
    min-height: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px; 
}

.stats-box {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
}

.progress {
    width: 100%;
    height: 10px;
    background: #e0e0e0;
    border-radius: 10px;
    margin-top: 5px;
}

.progress-fill {
    height: 10px;
    background: #4a90e2;
    border-radius: 10px;
}



.table-riwayat{
    background: #ffffff;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

select {
    padding: 4px 4px 4px 4px;
    margin-right: 10px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 18px;
    background: #449ffa;
    color: white;
    border: none;
}


